{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}後台資料分析{% endblock title%}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <!-- Dashboard -->
  <div id="dashboard">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">訂單數量分析</button>

        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">消費總額排名</button>        
      </div>      
    </nav>
  </div>
  <br/>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <center> 
        <div id="maina" style="width:1200px;height:500px;border-style:dashed;"></div>
      </center>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <center>
        <div id="mainc" class="container-fluid" style="width:1200px;height:500px;border-style:dashed;"></div>
      </center>
    </div>
  </div>
</div>

<script>

  // 以長條圖與折線圖分析各月訂單
  var myCharta = echarts.init(document.getElementById('maina'));
  var revenue = {{ revenue_list | tojson }};
  var count = {{ transaction_count | tojson }};
  var optiona = {
    title: {
      text: '各月訂單數量分析'
    },
    tooltip: {},
    legend: {
      data: ['訂單數量']
    },
    xAxis: {
      data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
    },
    yAxis: {},
    series: [{
      name: '銷售總額',
      type: 'bar',
      symbolSize: 16,
      data: revenue,
      markPoint: {
        data: [
          {type: 'max', name: '銷量最高月份'},
          {type: 'min', name: '銷量最低月份'}
        ]
      },
      label: {
        show: true,
        position: 'top',
        textStyle: {
          fontSize: 15
        }
      }
    }
    ],
    legend: {
      show: true
    },
  };
  myCharta.setOption(optiona);

  // 使用動態長條圖查看消費總額最多的使用者
  var myChartc = echarts.init(document.getElementById('mainc'));
  var member_sale_list = {{ member_sale_list | tojson }};
  var username_list = {{ username_list | tojson }};
  var member_sale_count_list = {{ member_sale_count_list | tojson }};
  var optionc = {
    title: {
      text: '使用者消費排名'
    },
    xAxis: {
      type: 'value'
    },
    yAxis: {
      type: 'category',
      data: username_list,
      inverse: true,
      animationDuration: 300,
      animationDurationUpdate: 300,
      max: 3
    },
    tooltip: {},
    series: [
      {
        name: '消費總額',
        type: 'bar',
        data: member_sale_list,
      },
      {
        name: '訂單總數',
        type: 'bar',
        data: member_sale_count_list,
      }
      ],
    legend: {
      show: true
    },
    animationDuration: 3000,
    animationDurationUpdate: 3000,
    animationEasing: 'linear',
    animationEasingUpdate: 'linear'
  };
  myChartc.setOption(optionc);

  setTimeout(function() {
    run();
  }, 0);
        
  setInterval(function() {
    update();
  }, 3000);
      
</script>

{% endblock content %}